.navigation-link, .mobile-navigation-link, .logo, .contacts-link, .mobile-contacts-link, .example-link, .social-link, .address, .footer-contact {
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation, .mobile-navigation, .contacts, .mobile-contacts, .filter-list, .examples, .social-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.example-text {
  color: var(--primary-text-color);
}

.gallery-title {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.filter-button, .subscribe-btn {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: #ffffff;
  background-color: #2196f3;
  border: 1px solid #2196f3;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.example-text {
  color: #757575;
}

.gallery {
  padding-bottom: 60px;
  padding-top: 60px;
}

@media screen and (min-width: 1200px) {
  .gallery {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
}

p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  background-color: #ffffff;
}

body.modal-open {
  overflow: hidden;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

header {
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 768px) {
  .header-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .main-nav {
    display: flex;
    justify-content: unset;
    align-items: center;
  }
}

.navigation {
  display: none;
  margin-left: 93px;
}

@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
  }
}

.navigation-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #212121;
}

.navigation-link:hover, .navigation-link:focus {
  color: #2196f3;
}

.navigation-link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  transform: scale(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-link.current {
  color: #2196f3;
}

.navigation-link:hover::after, .navigation-link.current::after {
  transform: scale(1);
}

.mobile-menu-btn {
  display: inline-flex;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-btn:focus, .mobile-menu-btn:hover {
  cursor: pointer;
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
}

.mobile-menu-btn .icon-cross {
  display: none;
}

.mobile-menu-btn.is-open .icon-cross {
  display: block;
}

.mobile-menu-btn.is-open .icon-menu {
  display: none;
}

.mobile-menu {
  display: none;
  position: absolute;
  right: 0;
  left: 0;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  z-index: 6;
}

.mobile-menu.is-open {
  display: block;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-navigation {
  text-align: center;
}

.mobile-navigation-link {
  position: relative;
  display: inline-block;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobile-navigation-link:hover, .mobile-navigation-link:focus {
  color: #2196f3;
}

.mobile-navigation-link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  transform: scale(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-navigation-link.current {
  color: #2196f3;
}

.mobile-navigation-link:hover::after, .mobile-navigation-link.current::after {
  transform: scale(1);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}

.logo-color {
  color: #2196f3;
}

.logo-header {
  color: #212121;
}

.logo-footer {
  color: #ffffff;
  margin-bottom: 20px;
}

.contacts {
  display: none;
}

@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    justify-content: none;
    align-items: center;
    flex-direction: row;
    margin-left: auto;
  }
  .contacts-item + .contacts-item {
    margin-left: 50px;
  }
}

.contacts-link {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.172;
  letter-spacing: 0.02em;
  color: #757575;
}

@media screen and (min-width: 1200px) {
  .contacts-link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.142;
  }
}

.contacts-link:hover, .contacts-link:focus {
  color: #2196f3;
}

.contact-icon {
  margin-right: 10px;
  fill: currentColor;
}

.mobile-contacts {
  text-align: center;
}

.mobile-contacts-link {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-contacts-link:not(:last-child) {
  margin-bottom: 16px;
}

.mobile-contacts-link:hover, .mobile-contacts-link:focus {
  color: #2196f3;
}

.filter-list {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .filter-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filter-list {
    margin-bottom: 50px;
  }
}

.filter-item {
  display: flex;
}

.filter-item + .filter-item {
  margin-left: 8px;
}

.filter-button {
  padding: 6px 22px;
  margin-bottom: 15px;
  font-weight: 500;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  border: 1px solid transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .filter-button {
    margin-bottom: 0;
  }
}

.filter-button:hover, .filter-button:focus {
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.examples {
  margin-top: -30px;
  margin-left: -30px;
}

@media screen and (min-width: 768px) {
  .examples {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.example-item {
  margin-top: 30px;
  margin-left: 30px;
  background-color: #ffffff;
}

@media screen and (min-width: 768px) {
  .example-item {
    flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .example-item {
    flex-basis: calc(100% / 3 - 30px);
  }
}

.example-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.example-link:hover, .example-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.example-thumb {
  position: relative;
  overflow: hidden;
}

.example-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  opacity: 0;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.example-link:hover .example-overlay,
.example-link:focus .example-overlay {
  transform: translateY(0);
  opacity: 1;
}

.example-description {
  position: absolute;
  top: 0;
  left: 0;
  padding: 64px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  padding: 64px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.example-content {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.example-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.example-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: none;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.team .social-link {
  background-color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-us .social-link {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team .social-link:hover,
.team .social-link:focus,
.join-us .social-link:hover,
.join-us .social-link:focus {
  background-color: #2196f3;
}

.social-icon {
  fill: #afb1b8;
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: #ffffff;
}

.join-us .social-icon {
  fill: #ffffff;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

@media screen and (max-width: 1199px) {
  .footer {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-flex {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .flex-container {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
}

.footer-wrap:not(:last-child) {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer-wrap:not(:last-child) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer-wrap {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .contact-wrap {
    margin-right: 70px;
  }
}

.address {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 9px;
  font-style: normal;
  color: #ffffff;
}

.address:hover, .address:focus {
  color: #2196f3;
}

.footer-contact {
  color: rgba(255, 255, 255, 0.6);
  display: block;
}

.footer-contact:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contact:hover, .footer-contact:focus {
  color: #2196f3;
}

.join-us {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .join-us {
    margin-right: 93px;
    margin-bottom: 0;
  }
}

.join-us-text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.subscribe {
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .subscribe-wrap {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

.subscribe-input {
  width: 358px;
  padding: 16px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.subscribe-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-btn {
  position: relative;
  display: inline-block;
  margin-top: 20px;
  padding-left: 25px;
  padding-right: 62px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .subscribe-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-btn {
    margin-left: 12px;
  }
}

.subscribe-btn:hover, .subscribe-btn:focus {
  color: #2196f3;
  background-color: #ffffff;
}

.icon-send {
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  fill: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover .icon-send,
.subscribe-btn:focus .icon-send {
  fill: #2196f3;
}
/*# sourceMappingURL=portfolio.css.map */